body {
    font-family: 'Time New Roman', cursive;
    font-size: 13px;
    background-color: floralwhite;
    padding: 10px;
    margin: 0;
}

.section {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}